---
import { getCollection } from "astro:content";
import Layout from "../../components/Layout.astro";

const allProjects = await getCollection("projects");
---

<Layout>
  <>
    {
      allProjects.map((project) => (
        <a href={`/projects/${project.id}` }>
          <h2>{project.data.title}</h2>
          <p>{project.data.description}</p>
          <p>{project.id}</p>
        </a>
      ))
    }
  </>
</Layout>
