---
import { getCollection } from "astro:content";
import Layout from "../../components/Layout.astro";

const allProjects = await getCollection("projects");
---

<Layout view="projects" title="Projects">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
    {
      allProjects.map((project) => (
        <a href={`/projects/${project.id}`} class="mb-8 block">
          <h2>{project.data.title}</h2>
          <p>{project.data.description}</p>
        </a>
      ))
    }
  </div>
</Layout>
